body {
  font-family: Georgia, sans-serif;
}

#wrapper {
  width: 750px;
  border: 1px solid #000;
}

header {
  width: 750px;
}

header img {
  width: 750px;
}

nav {
  width: 750px;
  background-color: blue;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 1px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

aside {
  background-color: #ffffcc;
  text-align: center;
}

#content {
  display: flex;
}

footer {
  width: 750px;
  font-size: 16px;
  background-color: blue;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
}
